# Docs: https://caddyserver.com/docs/caddyfile
0.0.0.0:8080 {
    root /var/www/public
    fastcgi / 127.0.0.1:9000 php {
        index index.php
    }

    rewrite {
        to {path} {path}/ /index.php?{query}
    }
    gzip

    # php-fpm status page @TODO check
#     fastcgi /status :9000 {
#         env SCRIPT_NAME /status
#     }
}
