//
// Variables
// --------------------------------------------------


//== Paths

// Images
$path-img: "../../img/";
$path-fonts: "../../fonts/";


//== Fonts

// Family
$font-family-base: "Roboto", Arial, sans-serif;

// Size
$font-size-base: 16px;

// Line-height
$font-line-height-base: 1;

// Weight
$thin: 100;
$extralight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extra-bold: 800;
$black-weight: 900;


//== Site sizes
$site-width: 1200px;
$site-gutter: 15px;

//== Colors

$white: #fff;
$black: #000;
