.update-warning {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  display: block;

  width: 100%;

  padding: 10px 20px;
  background: #e05252;
  background-size: cover;

  color: #fff;

  font-size: 14px;
  line-height: 1.4;
  text-align: center;
}

.update-warning a {
  border: 0;
  border-bottom: 1px solid #fff;
  color: #fff;
  text-decoration: none;

  transition: border-color 0.3s;

  &:hover,
  &:focus {
    border-bottom-color: transparent;
    outline: none;
  }
}

.update-warning__close {
  margin-top: 10px;
  border: 0;

  color: #fff;
  text-decoration: none;
  text-transform: uppercase;

  transition: color 0.3s;

  &:hover,
  &:focus {
    color: rgba(255, 255, 255, 0.7);
    outline: none;
  }
}
